# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
backps/
archive/
logs/
temp/


# Output/Input
exports/
input_excel/
output_word/
# (Nur ignorieren, wenn diese Ordner nur temporäre Daten enthalten und nicht Teil der Grundstruktur sind)
*.db

# Logs
*.log
*.md
config.json
.gitignore
