# Python / Env
__pycache__/
*.pyc
.venv/
env/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
logs/
*.log

# Temporary / Cache
temp/

# Application Data (Output)
output_database/
output_excel/
output_word/
kopfnoten_secure.db

# Configuration with Secrets
sph_config.json
lanis_cookie.pkl
keyring_pass.cfg

# Installer
build/
dist/
*.spec
